In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [1]:
import pandas as pd
import numpy as np
 
data = {'Product':['Box','Bottles','Pen','Markers','Bottles','Pen','Markers','Bottles','Box','Markers','Markers','Pen'],
       'State':['Alaska','California','Texas','North Carolina','California','Texas','Alaska','Texas','North Carolina','Alaska','California','Texas'],
       'Sales':[14,24,31,12,13,7,9,31,18,16,18,14]}
 
df1=pd.DataFrame(data, columns=['Product','State','Sales'])
 
df1

    Product           State  Sales
0       Box          Alaska     14
1   Bottles      California     24
2       Pen           Texas     31
3   Markers  North Carolina     12
4   Bottles      California     13
5       Pen           Texas      7
6   Markers          Alaska      9
7   Bottles           Texas     31
8       Box  North Carolina     18
9   Markers          Alaska     16
10  Markers      California     18
11      Pen           Texas     14

In [2]:
df1.groupby(['State'])['Sales'].mean()

State
Alaska            13.000000
California        18.333333
North Carolina    15.000000
Texas             20.750000
Name: Sales, dtype: float64

In [3]:
df = pd.DataFrame({'A': [1, 1, 2, 1, 2],
                   'B': [np.nan, 2, 3, 4, 5],
                   'C': [1, 2, 1, 1, 2]}, columns=['A', 'B', 'C'])

In [5]:
df.groupby('A')['B'].mean()

A
1    3.0
2    4.0
Name: B, dtype: float64

In [2]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"}]
print (high_school_types)

for school in high_school_types:
    print(f"{school['High School']} is a {school['Type']} school")

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}]
Griffin is a District school
Figueroa is a District school
Wilson is a Charter school

In [3]:
# List of high schools
high_schools = ["Huang High School",  
                "Figueroa High School", 
                "Shelton High School", 
                "Hernandez High School",
                "Griffin High School",
                "Wilson High School", 
                "Cabrera High School", 
                "Bailey High School", 
                "Holden High School", 
                "Pena High School", 
                "Wright High School",
                "Rodriguez High School", 
                "Johnson High School", 
                "Ford High School", 
                "Thomas High School"]

In [4]:
# Add the Pandas dependency
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [5]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

NameError: name 'pd' is not defined

In [ ]:
    print(school_series)

In [ ]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [ ]:
school_df = pd.DataFrame(high_school_dicts)
school_df

In [ ]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [ ]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [ ]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

In [ ]:
#add school name list to DataFrame
schools_df["School Name"] = school_name

#add school type list to DataFrame
schools_df["Type"]= type_of_school

In [ ]:
schools_df

In [ ]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [ ]:
highschool_df = pd.DataFrame(high_schools_dict)
highschool_df

In [ ]:
school_df.columns

In [ ]:
school_df.index

In [ ]:
school_df.values

In [ ]:
# Three separate lists of information on high schools
school_id_sk = [0, 1, 2, 3, 4,5,6,7,8,9,10,11,12,13,14]

school_name_sk = ["Huang High School",  
                "Figueroa High School", 
                "Shelton High School", 
                "Hernandez High School",
                "Griffin High School",
                "Wilson High School", 
                "Cabrera High School", 
                "Bailey High School", 
                "Holden High School", 
                "Pena High School", 
                "Wright High School",
                "Rodriguez High School", 
                "Johnson High School", 
                "Ford High School", 
                "Thomas High School"]

type_of_school_sk = ["District", 
                  "District", 
                  "Charter", 
                  "District",
                  "Charter",
                  "Charter",
                  "Charter",
                  "District",
                  "Charter",
                  "Charter",
                  "Charter", 
                  "District", 
                  "District", 
                  "District",
                  "Charter"]

In [ ]:
# Initialize a new DataFrame.
schools_sk_df = pd.DataFrame()

In [ ]:
# Add the list to a new DataFrame.
schools_sk_df["School ID"] = school_id_sk
#add school name list to DataFrame
schools_sk_df["School Name"] = school_name_sk

#add school type list to DataFrame
schools_sk_df["Type"]= type_of_school_sk

In [ ]:
schools_sk_df